:root {
    --black-color:#000000;
    --white-color:#ffffff;
    --grey-color:#F1F1F2;
    --button-color:#F7941E;
    --secondory-button-color:#231F20;
}
body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--white-color);
    color: var(--black-color);
}
img {
    display: block;
    /* width: 100px; */
}
p, h1, h2, h3, h4, h5, h6, ul {
    margin: 0px;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 1440px;
    /* padding: 0px 15px; */
    margin-left: auto;
    margin-right: auto;
}
.top {
    padding: 36px 0px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    margin-left: 433px;
}
.nav-list li:not(:last-child) {
    margin-right: 31px;
}
.logo {
margin-left: 80px;
font-family: 'Homemade Apple';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 2.17;
color: #231F20;
}
.link {
font-size: 18px;
line-height: 1.22;
color: var(--black-color);
}
.button {
padding:11px 24px ;
font-size: 18px;
line-height: 1.22;
background-color: transparent;
border: 1px solid #F7941E;
border-radius: 5px;
margin-right: 4px;

display: flex;
align-items: center;
text-align: center;
text-transform: uppercase;

color: var(--button-color);
}

/* ------hero------ */

.hero {
  display: flex;
}

.hero-title {
  font-size: 56px;
  line-height: 1.23;
  color: var(--black-color);
  width: 433px;
  margin-bottom: 36px;
}

.hero-discription {
  font-size: 20px;
    line-height: 1.4;
    color: var(--black-color);
    width: 433px;
    margin-bottom: 52px;
}

.hero-btn {
  font-size: 18px;
  line-height: 1.22;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--button-color);
  border-radius: 5px;
  border: transparent;
  padding: 20px 24px;
  cursor: pointer;
}
.hero-dask {
  padding-top: 154px;
  padding-bottom: 135px;
  background: #F1F1F2;
  padding-left: 162px;
  padding-right: 126px;
  
}

/* Секція №2 */

.work {
    display: flex;
    background-color: var(--grey-color);
}

.work-card {
    padding: 164px 200px 104px 102px;
}

.work-title {
    font-size: 32px;
    line-height: 1.4;
    margin-bottom: 23px;
}

.work-discription {
    font-size: 20px;
    line-height: 1.4;

    margin-bottom: 35px;

    text-align: justify;
    width: 441px;
}

.work-button {
    font-size: 18px;
    line-height: 1.3;
    
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #F7941E;

    border: 1px solid #F7941E;
    border-radius: 5px;
    background-color: transparent;
    padding: 21px 46px;
}